/* OVERRIDES */
.markdown-section{
  font-size: 1.7rem;
  line-height: 1.5;
}

.markdown-section blockquote{
  color: auto;
}

/*FRONT PAGE TILES*/
.tile{
  padding: 0.5em;
  margin: 0 10px 10px 0;
  width: calc(50% - 10px);
  float: left;
}

.tile a{ color: #333; }
.tile h2{ margin: 0; }
.tile p{ margin-bottom: 0; }

.tile-1{ background: lightyellow; }
.tile-2{ background: lightpink; }
.tile-3{ background: lavender; }
.tile-4{ background: lightblue; }
.tile-5{ background: lightcoral; }

/*CHAPTER PAGE TILES*/

.media-tile{
  padding: 0.5em;
  margin: 0 10px 10px 0;
  width: calc(50% - 10px);
  float: left;
}

.media-tile img{width: 100%;}

h1#how-the-tool-works-🖥    { background: lightyellow; padding-left: 10px; }
h1#facilitation-in-loomio-🐝{ background: lightpink; padding-left: 10px; }
h1#humans-of-loomio-🐒      { background: lavender; padding-left: 10px; }
h1#coaching-resources-⚽    { background: lightblue; padding-left: 10px; }
h1#future-of-work-🚀        { background: lightcoral; padding-left: 10px; }

@media only screen and (max-width: 970px) {
  .tile{
    width: 100%;
    margin-right: 0;
    float: none;
    clear: both;
  }
}

/* IMAGES */

.img-left{
  float: left;
  margin-right: 1em;
  clear: both;
}

.img-right{
  float: right;
  margin-left: 1em;
  clear: both;
}

.img-200px{ width: 200px; }
.img-250px{ width: 250px; }
.img-300px{ width: 300px; }
.img-50pc{ width: 50%; }

hr{clear: both;}

.mobile-visible{
  display: none;
}
.mobile-hidden{
  display: inherit;
}

/*
  These rules only apply to screens less than 600px wide.
  They override rules placed earlier in this file.
*/
@media only screen and (max-width: 600px) {
  .img-50pc, .img-250px, .img-300px, .img-500px{
    width: 100%;
  }
  .img-left, .img-right{
    clear: both;
    float: none;
  }
  .mobile-visible{
    display: inherit;
  }
  .mobile-hidden{
    display: none;
  }
}